.exercise_5_content {
    margin-top: 1.5rem;

    #contenedor {
        width: 600px;
        margin: 0 auto;
        padding: 1.5rem;
        border-radius: .75rem;
        background-color: blue;
        color: white;
        text-align: center;

    }

}
@media (max-width: 770px) {
    .exercise_5_content {
        #contenedor {
            width: 200px;
        }
    }
}