.exercise_9_content {
    margin-top: 1.5rem;

    .div_center {
        width: 600px;
        margin: 0 auto;
        padding: 1.5rem;
        border-radius: .75rem;
        background-color: blue;

        .text_align {
            color: white;
            text-align: right;
            text-decoration: underline;
        }

    }
}

@media (max-width: 770px) {
    .exercise_9_content {
        .div_center {
            width: 200px;
        }
    }
}