.exercise_8_content {
    margin-top: 1.5rem;

    .div_center {
        width: 600px;
        margin: 0 auto;
        padding: 1.5rem;
        border-radius: .75rem;
        background-color: blue;
        color: white;
        text-align: center;
    }
}
@media (max-width: 770px) {
    .exercise_8_content {
        .div_center {
            width: 200px;
        }
    }
}