.exercise_19_content {
    margin-top: 1.5rem;
    

    .div_oculto{
        margin: 0 auto;
        width: 100px;
        height: 100px;
        background-color: blue;
    }

    @media (max-width: 600px){
        .div_oculto{
            display: none;
        }
    }

}