.exercise_26_content {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;

    .overlay_img {
        width: 100px;
        filter: grayscale(100%);
    }

    .overlay_img:hover {
        overlay: hidden;
    }

}