@use 'lib/vars' as *;
@use 'lib/reset' as *;
@use 'partials/header';
@use 'partials/ejercicio_box';
@use 'partials/ejercicio_1';
@use 'partials/ejercicio_2';
@use 'partials/ejercicio_4';
@use 'partials/ejercicio_5';
@use 'partials/ejercicio_6';
@use 'partials/ejercicio_7';
@use 'partials/ejercicio_8';
@use 'partials/ejercicio_9';
@use 'partials/ejercicio_11';
@use 'partials/ejercicio_12';
@use 'partials/ejercicio_13';
@use 'partials/ejercicio_14';
@use 'partials/ejercicio_15';
@use 'partials/ejercicio_16';
@use 'partials/ejercicio_17';
@use 'partials/ejercicio_18';
@use 'partials/ejercicio_19';
@use 'partials/ejercicio_20';
@use 'partials/ejercicio_21';
@use 'partials/ejercicio_22';
@use 'partials/ejercicio_23';
@use 'partials/ejercicio_24';
@use 'partials/ejercicio_25';
@use 'partials/ejercicio_26';




:root {
    font-family: 'Poppins', sans-serif;

}

// *{
//     border: 1px solid salmon;
// }

html,
body {
    background-color: #f1f1f1;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}


