@charset "UTF-8";
/*! 
https://serp.co/tools/css-reset/
<link rel="stylesheet" href="https://css.serp.co/css-reset/normalize.css/">
*/
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  background-color: #fff;
}
header .header_center {
  width: 1180px;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
header .header_center .header_left {
  display: flex;
  align-items: center;
  align-items: center;
}
header .header_center .header_left .logo {
  display: flex;
  width: 24px;
}
header .header_center .header_left .logo img {
  width: 100%;
}
header .header_center .header_left .header_name {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000000;
  margin-left: 10px;
}

.ejercicio {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.ejercicio .ej_center {
  width: 1180px;
  padding: 1.5rem;
  border-radius: 1.5rem;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 2px 10px 15px rgba(0, 0, 0, 0.055);
}
.ejercicio .ej_center .ej_title .exercise_title {
  margin-bottom: 0.5rem;
}
.ejercicio .ej_center .ej_title .exercise_description {
  font-weight: 400;
  color: rgb(199, 199, 199);
}

.exercise_1_content {
  margin-top: 1.5rem;
}
.exercise_2_content {
  margin-top: 1.5rem;
}

.exercise_4_content {
  margin-top: 1.5rem;
}
.exercise_4_content .destacado {
  font-weight: bold;
}

.exercise_5_content {
  margin-top: 1.5rem;
}
.exercise_5_content #contenedor {
  width: 600px;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 0.75rem;
  background-color: blue;
  color: white;
  text-align: center;
}

.exercise_6_content {
  margin-top: 1.5rem;
}
.exercise_6_content h2,
.exercise_6_content h3 {
  font-family: "Times New Roman", Times, serif;
  color: rgb(117, 117, 255);
}

.exercise_7_content {
  margin-top: 1.5rem;
}
.exercise_7_content .caja {
  padding: 20px;
  border: 1px solid black;
  margin: 10px;
  background-color: #6d6d6d;
}

.exercise_8_content {
  margin-top: 1.5rem;
}
.exercise_8_content .div_center {
  width: 600px;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 0.75rem;
  background-color: blue;
  color: white;
  text-align: center;
}

.exercise_9_content {
  margin-top: 1.5rem;
}
.exercise_9_content .div_center {
  width: 600px;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 0.75rem;
  background-color: blue;
}
.exercise_9_content .div_center .text_align {
  color: white;
  text-align: right;
  text-decoration: underline;
}

.exercise_11_content {
  margin-top: 1.5rem;
}
.exercise_11_content .degradado {
  background: linear-gradient(90deg, #0717ff 0%, #FF9800 100%);
  padding: 1rem;
  border-radius: 1rem;
  color: #fff;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1rem;
}

.exercise_12_content {
  margin-top: 1.5rem;
}
.exercise_12_content .circulo {
  margin: 0 auto;
  background-color: blue;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.exercise_13_content {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}
.exercise_13_content .div_1 {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-right: 20px;
  background-color: lightblue;
}
.exercise_13_content .div_2 {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-right: 20px;
  background-color: rgb(103, 181, 207);
}
.exercise_13_content .div_3 {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-right: 20px;
  background-color: rgb(14, 100, 197);
}

.exercise_25_content {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}
.exercise_25_content .filter_img {
  width: 100px;
  filter: grayscale(100%);
}

.exercise_15_content {
  margin-top: 1.5rem;
  margin: 0 auto;
  position: relative;
  width: 300px;
  height: 200px;
  border: 1px solid black;
}
.exercise_15_content .position_absolute {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: blue;
  width: 100px;
  height: 100px;
}

.exercise_16_content {
  margin-top: 1.5rem;
  margin: 0 auto;
}
.exercise_16_content .menu {
  display: flex;
  justify-content: center;
}
.exercise_16_content .menu .menu_list {
  display: flex;
  gap: 1rem;
  list-style: none;
}
.exercise_16_content .menu .menu_list li {
  background-color: blue;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.exercise_17_content {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}
.exercise_17_content .button {
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: blue;
  color: white;
  cursor: pointer;
  outline: none;
  /* Transición */
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.exercise_17_content .button:hover {
  background-color: #a6caf1;
  border-color: blue;
  color: black;
}

.exercise_18_content {
  margin-top: 1.5rem;
}
.exercise_18_content .animation {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: relative;
  /* Animación */
  animation: moverDerecha 3s ease-in-out infinite;
}
@keyframes moverDerecha {
  0% {
    left: 0; /* Empieza en el borde izquierdo */
  }
  50% {
    left: 90%; /* Mueve a la mitad */
  }
  100% {
    left: 0%; /* Mueve al borde derecho */
  }
}

.exercise_19_content {
  margin-top: 1.5rem;
}
.exercise_19_content .div_oculto {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background-color: blue;
}
@media (max-width: 600px) {
  .exercise_19_content .div_oculto {
    display: none;
  }
}

.exercise_20_content {
  margin-top: 1.5rem;
}
.exercise_20_content .menu {
  display: flex;
  justify-content: center;
}
.exercise_20_content .menu .menu_list {
  display: flex;
  gap: 1rem;
  list-style: none;
}
.exercise_20_content .menu .menu_list li {
  background-color: blue;
  color: white;
  padding: 0.5rem 2.25rem;
  border-radius: 0.5rem;
}
.exercise_20_content .menu .menu_list li a {
  position: relative;
}
.exercise_20_content .menu .menu_list li a::before {
  content: "🏠";
  font-size: 20px;
  margin-right: 1rem;
  position: absolute;
  left: -30px;
  top: 0;
}

.exercise_21_content {
  margin-top: 1.5rem;
}
.exercise_21_content .primary_color {
  color: blue;
}

.exercise_22_content {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}
.exercise_22_content .transformaciones:hover {
  rotate: 45deg;
}

.exercise_23_content {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}
.exercise_23_content .box_shadow {
  width: 100px;
  height: 100px;
  background-color: blue;
  box-shadow: 2px 10px 15px rgba(0, 0, 0, 0.301);
}

.exercise_24_content {
  margin-top: 1.5rem;
}
.exercise_24_content .column_text {
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

.exercise_14_content {
  margin-top: 1.5rem;
}

.exercise_26_content {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}
.exercise_26_content .overlay_img {
  width: 100px;
  filter: grayscale(100%);
}
.exercise_26_content .overlay_img:hover {
  overlay: hidden;
}

:root {
  font-family: "Poppins", sans-serif;
}

html,
body {
  background-color: #f1f1f1;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}/*# sourceMappingURL=styles.css.map */